*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
}
 .nav-bar ul{ list-style: none;
    display: flex;
}
.nav-bar ul li{
    padding: 10px 30px;
    position: relative;
}
.nav-bar ul li a{
    text-decoration: none;
} 


.logo{color: white;}
.logo span{color: red;}
@media screen and (max-width: 500px){} 
   
.p2{
    background-color: green;
    margin-left: 140px;
    padding: 15px;
    border: none;
}
.box1{
    background-color: rgb(247, 247, 242);
    width: 70%;
    height: 100vh;
.btn{ background-color: green;
    size: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.box2{
    width: 30%;
    height: 100vh;
    background-color: green;
}
.main{
    justify-content: ;
}

}