/* .box{
    width: 40%;
    height: 60vh;
    margin: 20px 0px;
    background-color: tomato;
}
.spoon{
    width: 50%;
    height: 50vh;
    background-color: rgb(219, 10, 247);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    z-index: -5;
}
.cup{
    width: 5%;
    height: 10vh;
    background-color: green;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
} */
